version: 2.1

orbs:
  slack: circleci/slack@4.4.4
  snyk: snyk/snyk@1.1.2

executors:
  node-runner:
    working_directory: /tmp/my_codebase
    shell: /bin/bash -e
    docker:
      - image: cimg/node:24.12  # Using Bun image
    resource_class: large
  deployer:
    working_directory: /tmp/my_codebase
    shell: /bin/bash -e
    machine:
      image: ubuntu-2404:2024.05.1

jobs:
  build:
    executor: node-runner
    steps:
      - checkout
      - run: curl -fsSL bun.sh | bash
      - run: bun install
      - run: bun build
      - slack/notify:
          event: fail
          channel: ${SLACK_CHANNEL}
          template: basic_fail_1

  test:
    executor: node-runner
    steps:
      - checkout
      - run: bun install
      - run: bun test
      - slack/notify:
          event: fail
          channel: ${SLACK_CHANNEL}
          template: basic_fail_1

  package:
    executor: deployer
    steps:
      - checkout
      - run: |
          docker build --build-arg APP_VERSION=0.0.0-ci-${CIRCLE_PULL_REQUEST##*/} -t eatzy1/auth_service:0.0.0-ci-${CIRCLE_PULL_REQUEST##*/} .
      - snyk/scan:
          fail-on-issues: false
          monitor-on-build: false
          docker-image-name: eatzy1/auth_service:0.0.0-ci-${CIRCLE_PULL_REQUEST##*/}
          severity-threshold: high
          target-file: Dockerfile
          token-variable: SNYK_TOKEN
      - run: |
          docker logout
          echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
          docker push eatzy1/auth_service:0.0.0-ci-${CIRCLE_PULL_REQUEST##*/}
      - slack/notify:
          event: fail
          channel: ${SLACK_CHANNEL}
          template: basic_fail_1

  deploy:
    executor: deployer
    steps:
      - checkout
      - run: |
          docker build --build-arg APP_VERSION=${CIRCLE_TAG} -t eatzy1/auth_service:${CIRCLE_TAG} -t eatzy1/auth_service:latest .
          docker logout
          echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
          docker push eatzy1/auth_service --all-tags
      - slack/notify:
          event: pass
          channel: ${SLACK_CHANNEL}
          template: success_tagged_deploy_1
      - slack/notify:
          event: fail
          channel: ${SLACK_CHANNEL}
          template: basic_fail_1

workflows:
  build-test:
    jobs:
      - build:
          context: build
      - test:
          context: test
          requires:
            - build
      - package:
          context: deploy
          requires:
            - build
            - test

  build-test-and-deploy:
    jobs:
      - build:
          context: build
          filters:
            tags:
              only: /^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)$/
            branches:
              ignore: /.*/
      - test:
          context: test
          requires:
            - build
          filters:
            tags:
              only: /^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)$/
            branches:
              ignore: /.*/
      - deploy:
          context: deploy
          requires:
            - test
            - build
          filters:
            tags:
              only: /^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)$/
            branches:
              ignore: /.*/
